.story-header {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
}
.profile-picture {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-bottom: 0.3125rem;
    object-fit: cover;
}

.username {
    font-weight: bold;
    font-size: 1rem;
}

body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

#postIndex {
    width: 35%;
}

.iconaia {
    height: 75px;
    width: 75px;
    border: 1px black solid;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-container {
    margin: 1.25rem auto;

}

.post-header {
    padding: 0.625rem;
    display: flex;
    align-items: center;
    border-bottom: 0.0625rem solid #ddd;
}

.profile-pic {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.625rem;
}

.username {
    font-weight: bold;
}

.post-image {
    max-width: 100%;
    height: auto;
    border: 0.0625rem solid #ddd;
}

.post-caption {
    padding: 0.625rem;
    text-align: left;
}
.comments * {
    padding: 0;
    margin: 0;
  }
.likes-comments {
    padding: 0.625rem;
    border-top: 0.0625rem solid #ddd;
}

.like-btn,
.comment-btn,
.share-btn {
    margin-right: 10px;
    cursor: pointer;
    color: #333;
}

.likes {
    text-align: left;
}

.comment {
    border: none;
    width: 100%;
    resize: none;
}

.comment:focus {
    outline: none;
}

.comment-container {
    padding: 0.625rem;
}

