

.post-disc:hover div {
    top: 0;
    padding: 0;
}

.post-disc .d-flex {
    top: 120%;
    transition: all 0.3s;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
